/var/*.sqlite
/frontend/node_modules/
/frontend/dist/*.js
/frontend/dist/*.js.map
/public/assets/js/
/release/
!.gitkeep
.DS_Store
Thumbs.db

/var/allow-local-http
/var/*login*.html
/var/tmdb-token.txt
